
<div class="float-container">
  <div class="float-child green">
    <div class="row banner">
      <banner
        displayText="Army"
        bannerImage="../../../assets/images/banner_army.png"
        alt="" ></banner>
    </div>
    <div class="row banner">
      <banner
        displayText="Battle"
        bannerImage="../../../assets/images/banner_battle.png"
        alt="" ></banner>
    </div>
    <div class="row banner">
      <banner
        displayText="History"
        bannerImage="../../../assets/images/banner_history.png"
        alt="" ></banner>
    </div>
  </div>
  <div class="float-child blue">
    <carousel></carousel>
  </div>
</div>
