<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- Toolbar -->
<div class="container-fluid">
  <toolbar></toolbar>
  <!--nav>
    <a routerLink="/unitlibrary">Unit Library</a>
  </nav>
  <router-outlet></router-outlet-->
  <app-unit-library
    [units]="(allUnitData$ | async)"
  >
  </app-unit-library>
  <app-units
    [armyUnits]="(armyUnits$ | async)"
    [abilityData]="(allAbilityData$ | async)"
	  [activeUnitID]="(activeUnitID$ | async)"
  >
  </app-units>
  <app-reminders
    [allRules]="(coreRuleData$ | async)">
  </app-reminders>
</div>
