<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- Toolbar -->
<div class="container-fluid">
  <toolbar></toolbar>
  <!-- <home></home> -->
  <app-unit-library
    [units]="(allUnitData$ | async)"
  >
  </app-unit-library>
  <app-units
    [armyUnits]="(armyUnits$ | async)"
    [abilityData]="(allAbilityData$ | async)"
	  [activeUnitID]="(activeUnitID$ | async)"
  >
  </app-units>
</div>
<router-outlet></router-outlet>
