<h2>My Army:</h2>>
<ul class="units">
    <div *ngIf="armyUnits">
        <li *ngFor="let key of armyUnits.keys()"
        [class.selected]="key === activeUnitID"
        (click)="onSelect(key)">
            <span class="badge">
                {{armyUnits.get(key)!.unitName}}
                <button (click)="removeUnitFromArmy(key)">[-]</button>
            </span>
        </li>
    </div>
</ul>
<div *ngIf="armyUnits && activeUnitID && armyUnits.has(activeUnitID)">
    <app-unit-detail [unit]="armyUnits.get(activeUnitID)!"></app-unit-detail>
</div>